# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#folder
D:\Uni\CGRA350\CGRA_Project\CGRAProject\.vs
D:\Uni\CGRA350\CGRA_Project\CGRAProject\CGRA350_Framework\work\out
D:\Uni\CGRA350\CGRA_Project\CGRAProject\CGRA350_Framework\.vs
D:\Uni\CGRA350\CGRA_Project\CGRAProject\CGRA350_Framework\work\.vs