# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#folder
D:\Uni\CGRA350\CGRA_Project\CGRAProject\.vs
D:\Uni\CGRA350\CGRA_Project\CGRAProject\CGRA350_Framework\work\out
D:\Uni\CGRA350\CGRA_Project\CGRAProject\CGRA350_Framework\.vs
D:\Uni\CGRA350\CGRA_Project\CGRAProject\CGRA350_Framework\work\.vs
CGRA350_Framework/.vs/CGRA350_Framework/FileContentIndex/97ef0e80-80ee-4b6a-a908-57da9c330013.vsidx
CGRA350_Framework/.vs/CGRA350_Framework/FileContentIndex/897f7139-a26a-4b1b-b053-d9b1d09f1a4f.vsidx
CGRA350_Framework/.vs/CGRA350_Framework/FileContentIndex/read.lock
CGRA350_Framework/.vs/CGRA350_Framework/v17/.suo
CGRA350_Framework/.vs/CGRA350_Framework/v17/Browse.VC.db
CGRA350_Framework/.vs/CGRA350_Framework/v17/Browse.VC.db-shm
CGRA350_Framework/.vs/CGRA350_Framework/v17/Browse.VC.db-wal
CGRA350_Framework/.vs/CGRA350_Framework/v17/Browse.VC.opendb
CGRA350_Framework/.vs/CGRA350_Framework/v17/ipch/AutoPCH/a5331a62e67ed61f/APPLICATION.ipch
CGRA350_Framework/.vs/CGRA350_Framework/v17/ipch/AutoPCH/aae46860f2c9218/MAIN.ipch
CGRA350_Framework/.vs/CGRA350_Framework/v17/ipch/AutoPCH/fcbaab76c2f032d1/APPLICATION.ipch
CGRA350_Framework/.vs/CMake Overview
CGRA350_Framework/.vs/CMakeWorkspaceSettings.json
CGRA350_Framework/.vs/ProjectSettings.json
CGRA350_Framework/.vs/slnx.sqlite
CGRA350_Framework/.vs/tasks.vs.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-290e15ebfb9ae0456259.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-1f847344f278f1f55c17.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-c52e44f9f11c78c2e966.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-ext.glew-1.10.0-Debug-37f349daf0333582485f.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-ext.glfw-Debug-c63a0250c0d02fc8c9c1.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-ext.glfw.src-Debug-89f1b6287a040b15e932.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-ext.glm-Debug-326300a1949078e72c51.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-ext.imgui-Debug-411fbc17847f652cbde3.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-ext.stb-Debug-dbf167ac9279a97580e4.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-res-Debug-f10d2458fe16bdca0cf9.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-src-Debug-c94b7c2814d5a21df52c.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/directory-src.cgra-Debug-47f1ac4c18a5ee52c351.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/index-2022-10-09T14-37-43-0683.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/target-base-Debug-a9a71a0ff5900943e200.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/target-glew-Debug-991a5233c262abf46d9d.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/target-glfw-Debug-385e28e2275a3b760481.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/target-glm_dummy-Debug-42a9c7abf0094953d436.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/target-imgui-Debug-643d70f7e1283579aa61.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/target-res-Debug-19bf87889d3a1db3b2e1.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/target-stb-Debug-70bdabaabad001361c56.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/target-uninstall-Debug-7fecb5907a4bff730084.json
CGRA350_Framework/work/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-8ac912e419544ff08257.json
CGRA350_Framework/work/out/build/x64-Debug/.ninja_deps
CGRA350_Framework/work/out/build/x64-Debug/.ninja_log
CGRA350_Framework/work/out/build/x64-Debug/bin/base.ilk
CGRA350_Framework/work/out/build/x64-Debug/bin/base.pdb
CGRA350_Framework/work/out/build/x64-Debug/bin/glm_dummy.ilk
CGRA350_Framework/work/out/build/x64-Debug/bin/glm_dummy.pdb
CGRA350_Framework/work/out/build/x64-Debug/build.ninja
CGRA350_Framework/work/out/build/x64-Debug/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/CMakeCache.txt
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeCCompiler.cmake
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeCXXCompiler.cmake
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_C.bin
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeRCCompiler.cmake
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeSystem.cmake
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.c
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/cmake.check_cache
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/CMakeError.log
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/FindOpenMP/ompver_C.bin
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/rules.ninja
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
CGRA350_Framework/work/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
CGRA350_Framework/work/out/build/x64-Debug/ext/glew-1.10.0/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glew-1.10.0/CMakeFiles/glew.dir/glew.pdb
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/cmake_uninstall.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/CMakeFiles/Export/lib/cmake/glfw/glfwTargets-debug.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/CMakeFiles/Export/lib/cmake/glfw/glfwTargets.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/docs/Doxyfile
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/src/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/src/CMakeFiles/glfw.dir/glfw.pdb
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/src/glfw3.pc
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/src/glfw3Config.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/src/glfw3ConfigVersion.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glfw/src/glfw_config.h
CGRA350_Framework/work/out/build/x64-Debug/ext/glm/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/glm/CMakeFiles/glm_dummy.dir/embed.manifest
CGRA350_Framework/work/out/build/x64-Debug/ext/glm/CMakeFiles/glm_dummy.dir/intermediate.manifest
CGRA350_Framework/work/out/build/x64-Debug/ext/glm/CMakeFiles/glm_dummy.dir/manifest.rc
CGRA350_Framework/work/out/build/x64-Debug/ext/glm/CMakeFiles/glm_dummy.dir/manifest.res
CGRA350_Framework/work/out/build/x64-Debug/ext/glm/CMakeFiles/glm_dummy.dir/vc140.pdb
CGRA350_Framework/work/out/build/x64-Debug/ext/imgui/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/imgui/CMakeFiles/imgui.dir/imgui.pdb
CGRA350_Framework/work/out/build/x64-Debug/ext/stb/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/ext/stb/CMakeFiles/stb.dir/stb.pdb
CGRA350_Framework/work/out/build/x64-Debug/res/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/src/cgra/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/src/cmake_install.cmake
CGRA350_Framework/work/out/build/x64-Debug/src/CMakeFiles/base.dir/embed.manifest
CGRA350_Framework/work/out/build/x64-Debug/src/CMakeFiles/base.dir/intermediate.manifest
CGRA350_Framework/work/out/build/x64-Debug/src/CMakeFiles/base.dir/manifest.rc
CGRA350_Framework/work/out/build/x64-Debug/src/CMakeFiles/base.dir/manifest.res
CGRA350_Framework/work/out/build/x64-Debug/src/CMakeFiles/base.dir/vc140.pdb
CGRA350_Framework/work/out/build/x64-Debug/Testing/Temporary/LastTest.log
CGRA350_Framework/work/out/build/x64-Debug/VSInheritEnvironments.txt
CGRA350_Framework/work/.vs/CMake Overview
CGRA350_Framework/work/.vs/ProjectSettings.json
CGRA350_Framework/work/.vs/slnx.sqlite
CGRA350_Framework/work/.vs/VSWorkspaceState.json
CGRA350_Framework/work/.vs/work/FileContentIndex/97b7dbad-6ad0-48a9-a5a4-bcf59ab50952.vsidx
CGRA350_Framework/work/.vs/work/FileContentIndex/9b8bbacb-cfdc-44ce-95c1-84f288fe29bf.vsidx
CGRA350_Framework/work/.vs/work/FileContentIndex/ba550ca1-f9d3-45c0-a034-e7bc8a4054a9.vsidx
CGRA350_Framework/work/.vs/work/FileContentIndex/df71c15b-a62a-40f5-a148-e95ef3a30aae.vsidx
CGRA350_Framework/work/.vs/work/FileContentIndex/read.lock
CGRA350_Framework/work/.vs/work/v17/.suo
CGRA350_Framework/work/.vs/work/v17/Browse.VC.db
CGRA350_Framework/work/.vs/work/v17/ipch/AutoPCH/21df0ca370e2573e/TERRAINRENDERER.ipch
CGRA350_Framework/work/.vs/work/v17/ipch/AutoPCH/29767b718e41846e/APPLICATION.ipch
CGRA350_Framework/work/.vs/work/v17/ipch/AutoPCH/88fa95470cdf73e1/TERRAIN_MESH.ipch
CGRA350_Framework/work/.vs/work/v17/ipch/AutoPCH/b159ee6f7c95f17e/APPLICATION.ipch
CGRA350_Framework/work/.vs/work/v17/ipch/AutoPCH/b71ac06146c1dd9b/IMGUI.ipch
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-90747e4dbb386a085eeb.json
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-a6c663778a25c1cbabae.json
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-007bfaf4d955fe936a27.json
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/directory-ext.glfw-Debug-b331285880a2ea615003.json
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/index-2022-10-12T17-41-00-0131.json
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/target-base-Debug-0d0adb51a76d69ddf408.json
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/target-glfw-Debug-a63b8d302fde32864d36.json
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/target-uninstall-Debug-e75a192440039ce043ff.json
CGRA350_Framework/work/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-b85655f3638a06d0ce4b.json
CGRA350_Framework/work/out/build/x64-debug/bin/imgui.ini
CGRA350_Framework/work/out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeCCompiler.cmake
CGRA350_Framework/work/out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeCXXCompiler.cmake
CGRA350_Framework/work/out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_C.bin
CGRA350_Framework/work/out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
CGRA350_Framework/work/out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeRCCompiler.cmake
CGRA350_Framework/work/out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeSystem.cmake
CGRA350_Framework/work/out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
CGRA350_Framework/work/out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
